@model WebUI.Models.LoginViewModel

@{ Layout = "~/Views/Shared/_Layout_Login.cshtml";  }

@{ ViewBag.Title = "Log in";  }

<h2 align="center" >@ViewBag.Title</h2>
<div class="row-fluid">
    <div class="span12">

            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-vertical", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true)

                    <div class="well" align="center" >
                        @*User Name*@
                        <div class="control-group ">
                            <div class="controls">
                                <input type="text" name="model.UserName" placeholder="User Name" />
                            </div>
                            @Html.ValidationMessageFor(model => model.UserName)
                        </div>

                        @*Password*@
                        <div class="control-group ">
                            <div class="controls">
                                <input type="text" name="model.Password" placeholder="Password" />
                            </div>
                            @Html.ValidationMessageFor(model => model.Password)
                        </div>

                        <button class="btn btn-app btn-primary btn-mini radius-4" id="btnlogin" name="button">
                            <i class="icon-key"></i>
                            Login
                        </button>
                    </div>
                }
            </section>

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}