@model WebUI.ViewModels.CustomerCreateVM

@section Breadcrumb
	{
	<div class="breadcrumbs" id="breadcrumbs">
		<ul class="breadcrumb">
			<li>
				<i class="icon-home home-icon"></i>
				<a href="/Home">Home</a>

				<span class="divider">
					<i class="icon-angle-right arrow-icon"></i>
				</span>
			</li>

			<li>
				<a href="/Customer">Customer</a>

				<span class="divider">
					<i class="icon-angle-right arrow-icon"></i>
				</span>
			</li>

			<li class="active">Create Customer</li>

		</ul>
		<!--.breadcrumb-->


		<div class="nav-search" id="nav-search">
			<form class="form-search">
				<span class="input-icon">
					<input type="text" placeholder="Search ..." class="input-small nav-search-input" id="nav-search-input" autocomplete="off" />
					<i class="icon-search nav-search-icon"></i>
				</span>
			</form>
		</div>
		<!--#nav-search-->
	</div>
}

@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)

	<div class="row-fluid">

        <form method="POST" action="Customer/Create">
            <fieldset>
                <legend>Customer</legend>

                @*AROrgName*@
                <div class="control-group">
                    <label class="control-label span4">Church Name</label>
                    <div class="controls span8">
                        <input type="text" name="CustomerCreate.AROrgName" placeholder="Church Name" />
                    </div>
                    @Html.ValidationMessageFor(model => model.CustomerCreate.AROrgName)
                </div>

                @*ARAddress1*@
                <div class="control-group ">
                    <label class="control-label span4">Address 1</label>
                    <div class="controls span8">
                        <input type="text" name="CustomerCreate.ARAddress1" placeholder="Address 1" />
                    </div>
                    @Html.ValidationMessageFor(model => model.CustomerCreate.ARAddress1)
                </div>

                @*ARAddress2*@
                <div class="control-group ">
                    <label class="control-label span4">Address 2</label>
                    <div class="controls span8">
                        <input type="text" name="CustomerCreate.ARAddress2" placeholder="Address 2" />
                    </div>
                    @Html.ValidationMessageFor(model => model.CustomerCreate.ARAddress2)
                </div>

                @*ARAddress3*@
                <div class="control-group ">
                    <label class="control-label span4">Address 3</label>
                    <div class="controls span8">
                        <input type="text" name="CustomerCreate.ARAddress3" placeholder="Address 3" />
                    </div>
                    @Html.ValidationMessageFor(model => model.CustomerCreate.ARAddress3)
                </div>

                @*ARCity*@
                <div class="control-group ">
                    <label class="control-label span4">City</label>
                    <div class="controls span8">
                        <input type="text" name="CustomerCreate.ARCity" placeholder="City" />
                    </div>
                    @Html.ValidationMessageFor(model => model.CustomerCreate.ARCity)
                </div>

                @*ARStateProvID*@
                <div class="control-group ">
                    <label class="control-label span4">State ID</label>
                    <div class="controls span8">
                        @Html.DropDownListFor(m => m.stateDropDown.SelectedID, Model.stateDropDown.List)
                    </div>
                    @Html.ValidationMessageFor(model => model.CustomerCreate.ARStateProvID)
                </div>

                @*ARPostalCode*@
                <div class="control-group ">
                    <label class="control-label span4">Postal Code</label>
                    <div class="controls span8">
                        <input type="text" name="CustomerCreate.ARPostalCode" placeholder="Postal Code" />
                    </div>
                    @Html.ValidationMessageFor(model => model.CustomerCreate.ARPostalCode)
                </div>

                @*CountryID*@
                <div class="control-group ">
                    <label class="control-label span4">Country</label>
                    <div class="controls span8">
                        @Html.DropDownListFor(m => m.countryDropDown.SelectedID, Model.countryDropDown.List)
                    </div>
                </div>

                @*PriceID*@
                <div class="control-group ">
                    <label class="control-label span4">Price</label>
                    <div class="controls span8">
                        @Html.DropDownListFor(m => m.pricesDropDown.SelectedID, Model.pricesDropDown.List)
                    </div>
                </div>
            </fieldset>
            
            <div>
                <button class="btn btn-app btn-grey btn-mini radius-4" name="button" value="save">
                    <i class="icon-save bigger-160"></i>
                    Save
                </button>

                <button class="btn btn-app btn-success btn-mini radius-4" name="button" value="clear">
                    <i class="icon-refresh bigger-160"></i>
                    Clear
                </button>

                <button class="btn btn-app btn-warning btn-mini radius-4" name="button" value="cancel">
                    <i class="icon-undo bigger-160"></i>
                    Cancel
                </button>
            </div>

        </form>

	</div>	
}

@*COMMENTED THIS OUT BECAUSE OF ERROR!!*@
@section Scripts {
	@*	@Scripts.Render("~/bundles/jqueryval")*@                    
}

@section PageStyles {

}
