@model WebUI.ViewModels.CustomerCreate

@*<script>
	$(document).ready(function () {
		$(".set-placeholder").each(function () {
			$(this).find("input").attr("placeholder", $(".placeholder-Text").first().val());
		})
	});
</script>*@



@{
	ViewBag.Title = "Create Customer";
}

@section Breadcrumb
	{   
		<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="icon-home home-icon"></i>
			<a href="#">Home</a>

			<span class="divider">
				<i class="icon-angle-right arrow-icon"></i>
			</span>
		</li>

		<li>
			<a href="#">Customer</a>

			<span class="divider">
				<i class="icon-angle-right arrow-icon"></i>
			</span>
		</li>

		<li class="active">Create Customer</li>

	</ul><!--.breadcrumb-->




	<div class="nav-search" id="nav-search">
		<form class="form-search">
			<span class="input-icon">
				<input type="text" placeholder="Search ..." class="input-small nav-search-input" id="nav-search-input" autocomplete="off" />
				<i class="icon-search nav-search-icon"></i>
			</span>
		</form>
	</div><!--#nav-search-->
</div>
	}

<h2>@ViewBag.Title</h2>



@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)

<div class="row-fluid">

	<div class="span9">

		<form class="form-horizontal" method="POST" action="Customer/Create">


			<div class="form-actions span12">
				<button class="btn btn-info" type="submit">
					<i class="icon-ok bigger-110"></i>
					Save
				</button>
			</div>


@*AROrgName*@
		 
			<div class="control-group ">
				<label class="control-label span3">Church Name</label>

				<div class="controls span8">
					<input type="text" name="AROrgName" placeholder="Church Name" />
				</div>
				@Html.ValidationMessageFor(model => model.AROrgName)
			</div>


@*ARAddress1*@
			<div class="control-group">
				<label class="control-label span3">Address 1</label>

				<div class="controls span8">
					<input type="text" name="ARAddress1" placeholder="Address 1" />
				</div>
				@Html.ValidationMessageFor(model => model.ARAddress1)
			</div>


@*ARAddress2*@
			<div class="control-group">
				<label class="control-label span3">Address 2</label>

				<div class="controls span8">
					<input type="text" name="ARAddress2" placeholder="Address 2" />
				</div>
				@Html.ValidationMessageFor(model => model.ARAddress2)
			</div>


@*ARAddress3*@
			<div class="control-group">
				<label class="control-label span3">Address 3</label>

				<div class="controls span8">
					<input type="text" name="ARAddress3" placeholder="Address 3" />
				</div>
				@Html.ValidationMessageFor(model => model.ARAddress3)
			</div>


@*ARCity*@
			<div class="control-group">
				<label class="control-label span3">City</label>

				<div class="controls span8">
					<input type="text" name="ARCity" placeholder="City" />
				</div>
				@Html.ValidationMessageFor(model => model.ARCity)
			</div>

@*ARStateProvID*@
			<div class="control-group">
				<label class="control-label span3">State</label>

				<div class="controls span8">
					<input type="text" name="ARStateProvID" placeholder="State" />
				</div>
				@Html.ValidationMessageFor(model => model.ARStateProvID)
			</div>

@*ARPostalCode*@
			<div class="control-group">
				<label class="control-label span3">Postal Code</label>

				<div class="controls span8">
					<input type="text" name="ARPostalCode" placeholder="Postal Code" />
				</div>
				@Html.ValidationMessageFor(model => model.ARPostalCode)
			</div>


		</form>    

	</div>

</div>	
	
}


@*<div>
	@Html.ActionLink("Back to List", "Index")
</div>*@

@*@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}*@


@*<div>
	@Html.ActionLink("Save","Create")
</div>*@



