@model WebUI.ViewModels.Customer.CustomerEditVM

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row-fluid">

        <form method="post" action="Customer/Edit">

            <fieldset>
                <legend>Customer Edit</legend>

                @*AROrgName*@
                <div class="control-group">
                    <label class="control-label span4">Church Name</label>
                    <div class="controls span8">
                        <input type="text" name="AROrgName" placeholder="Church Name" />
                    </div>
                    @Html.ValidationMessageFor(model => model.customerEdit.AROrgName)
                </div>

                @*ARAddress1*@
                <div class="control-group ">
                    <label class="control-label span4">Address 1</label>
                    <div class="controls span8">
                        <input type="text" name="ARAddress1" placeholder="Address 1" />
                    </div>
                    @Html.ValidationMessageFor(model => model.customerEdit.ARAddress1)
                </div>

                @*ARAddress2*@
                <div class="control-group ">
                    <label class="control-label span4">Address 2</label>
                    <div class="controls span8">
                        <input type="text" name="ARAddress2" placeholder="Address 2" />
                    </div>
                    @Html.ValidationMessageFor(model => model.customerEdit.ARAddress2)
                </div>

                @*ARAddress3*@
                <div class="control-group ">
                    <label class="control-label span4">Address 3</label>
                    <div class="controls span8">
                        <input type="text" name="ARAddress3" placeholder="Address 3" />
                    </div>
                    @Html.ValidationMessageFor(model => model.customerEdit.ARAddress3)
                </div>

                @*ARCity*@
                <div class="control-group ">
                    <label class="control-label span4">City</label>
                    <div class="controls span8">
                        <input type="text" name="ARCity" placeholder="City" />
                    </div>
                    @Html.ValidationMessageFor(model => model.customerEdit.ARCity)
                </div>

                @*ARStateProvID*@
                <div class="control-group ">
                    <label class="control-label span4">State ID</label>
                    <div class="controls span8">
                        @*@Html.DropDownList("ARStateProvID")*@
                        @Html.DropDownListFor(m => m.stateDropDown.SelectedID, Model.stateDropDown.List)
                    </div>
                    @Html.ValidationMessageFor(model => model.customerEdit.ARStateProvID)
                </div>

                @*ARPostalCode*@
                <div class="control-group ">
                    <label class="control-label span4">Postal Code</label>
                    <div class="controls span8">
                        <input type="text" name="ARPostalCode" placeholder="Postal Code" />
                    </div>
                    @Html.ValidationMessageFor(model => model.customerEdit.ARPostalCode)
                </div>

                @*CountryID*@
                <div class="control-group ">
                    <label class="control-label span4">Country</label>
                    <div class="controls span8">
                        @*@Html.DropDownList("CountryID")*@
                        @Html.DropDownListFor(m => m.countryDropDown.SelectedID, Model.countryDropDown.List)
                    </div>
                    @Html.ValidationMessageFor(model => model.customerEdit.CountryID)
                </div>

                @*PriceID*@
                <div class="control-group ">
                    <label class="control-label span4">Price</label>
                    <div class="controls span8">
                        @Html.DropDownListFor(m => m.pricesDropDown.SelectedID, Model.pricesDropDown.List)
                    </div>
                    @*@Html.ValidationMessageFor(model => model.PriceID)*@
                </div>
            </fieldset>

            <div>
                <button class="btn btn-app btn-grey btn-mini radius-4" name="button" value="save">
                    <i class="icon-save bigger-160"></i>
                    Save
                </button>

                @*<button class="btn btn-app btn-success btn-mini radius-4" name="button" value="clear">
                    <i class="icon-refresh bigger-160"></i>
                    Clear
                </button>*@

                <button class="btn btn-app btn-warning btn-mini radius-4" name="button" value="cancel">
                    <i class="icon-undo bigger-160"></i>
                    Cancel
                </button>

                <button class="btn btn-app btn-danger btn-mini radius-4" name="button" value="delete">
                    <i class="icon-trash bigger-160"></i>
                    Delete
                </button>
            </div>
        </form>  
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
